@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="d-flex flex-row gap-2" style="margin-top:180px;">
    <div class="col-auto flex-grow-0">
        <h5 class="display-5">Privacy Policy</h5>
    </div>
</div>
<hr class="mb-5 mt-0" />
<div class="container shadow pb-1 bg-light bg-gradient">
    <div class="row mx-auto">
        <h6 class="display-6 mb-1 mt-3">
            At Emma's Small Engines, we value and respect the fundamental human rights of privacy and data protection.            
        </h6>
        <hr class="mb-5 mt-0" />

        <p>
            Our employees and customers work and live with a range of backgrounds, cultures and experiences.
           
        </p>
        <p>
            In Canada, we have a particularly high standard when it comes to privacy and data protection including legislation that provides specific and far-reaching rights to employees and customers.
           
        </p>
        <p>
            Whilst our employees and customers live and work across the globe, with varying levels of privacy and data protection within their country or regions, we have taken a global approach to our personal information governance.
        </p>
        <p>
            Our team is working hard to provide a similar experience of data privacy and the protections that your data requires, regardless of where you are.
        </p>
    </div>
</div>